.todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #cecece;
    width: 80%;
}

.todo-item:last-child {
    /* background: red; */
    border-bottom: 0;
}

input[type=checkbox] {
    margin-right: 20px;
}
